.image-link {       /*For the Photos*/
    display: flex;
    margin-left: auto;
    margin-left: auto;
}
.flex-container {       
    display: flex;
}
.column {
    flex: 1;
    padding: 10px;
}

div.solid {border-style: solid;}
